Repository DisturbHerb/goonstation, pull requests merged in 2022-11, with the labels that each got.

#55 More changes
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  browserassets/tgui/tgui.html
  code/obj/item/boardgame.dm
  tgui/packages/tgui/interfaces/Boardgame/Components/FloatingPiece.tsx
  tgui/packages/tgui/interfaces/Boardgame/Components/Notations.tsx
  tgui/packages/tgui/interfaces/Boardgame/Components/Piece.tsx
  tgui/packages/tgui/interfaces/Boardgame/Components/PieceDrawer.tsx
  tgui/packages/tgui/interfaces/Boardgame/Components/PieceSet.tsx
  tgui/packages/tgui/interfaces/Boardgame/Components/Presets.tsx
  tgui/packages/tgui/interfaces/Boardgame/Components/index.tsx
  tgui/packages/tgui/interfaces/Boardgame/Patterns/checkerboard.tsx
  tgui/packages/tgui/interfaces/Boardgame/Pieces/chess.tsx
  tgui/packages/tgui/interfaces/Boardgame/Pieces/faces.tsx
  tgui/packages/tgui/interfaces/Boardgame/Pieces/gifs.tsx
  tgui/packages/tgui/interfaces/Boardgame/Pieces/index.tsx
  tgui/packages/tgui/interfaces/Boardgame/Pieces/unicode.tsx
  tgui/packages/tgui/interfaces/Boardgame/Presets/chess/index.tsx
  tgui/packages/tgui/interfaces/Boardgame/Presets/index.tsx
  tgui/packages/tgui/interfaces/Boardgame/helpers.tsx
  tgui/packages/tgui/interfaces/Boardgame/index.tsx
  tgui/packages/tgui/styles/interfaces/Boardgame.scss
Labels: size/XL

#56 More rework because why not
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/obj/item/boardgame.dm
  tgui/packages/tgui/interfaces/Boardgame/Components/FenCodeSettings.tsx
  tgui/packages/tgui/interfaces/Boardgame/Components/FloatingPiece.tsx
  tgui/packages/tgui/interfaces/Boardgame/Components/Piece.tsx
  tgui/packages/tgui/interfaces/Boardgame/Patterns/checkerboard.tsx
  tgui/packages/tgui/interfaces/Boardgame/Pieces/faces.tsx
  tgui/packages/tgui/interfaces/Boardgame/Presets/index.tsx
  tgui/packages/tgui/interfaces/Boardgame/index.tsx
  tgui/packages/tgui/interfaces/Boardgame/types.tsx
  tgui/packages/tgui/styles/interfaces/Boardgame.scss
Labels: size/XL

#57 Fixed css for clock and more updates on boardgame
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/obj/item/boardgame.dm
  tgui/packages/tgui/interfaces/Boardgame/Components/FloatingPiecesContainer.tsx
  tgui/packages/tgui/interfaces/Boardgame/Components/Notations.tsx
  tgui/packages/tgui/interfaces/Boardgame/Patterns/checkerboard.tsx
  tgui/packages/tgui/interfaces/Boardgame/helpers.tsx
  tgui/packages/tgui/interfaces/Boardgame/index.tsx
  tgui/packages/tgui/interfaces/Boardgame/types.tsx
  tgui/packages/tgui/interfaces/Gameclock/index.tsx
  tgui/packages/tgui/styles/components/Button.scss
  tgui/packages/tgui/styles/interfaces/Boardgame.scss
  tgui/packages/tgui/styles/interfaces/Gameclock.scss
Labels: size/L

#59 Board fix, correct branch
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/obj/item/boardgame.dm
  icons/obj/items/gameboard.dmi
  tgui/packages/tgui/interfaces/Boardgame/Components/FenCodeSettings.tsx
  tgui/packages/tgui/interfaces/Boardgame/Components/Piece.tsx
  tgui/packages/tgui/interfaces/Boardgame/Components/PieceDrawer.tsx
  tgui/packages/tgui/interfaces/Boardgame/Patterns/checkerboard.tsx
  tgui/packages/tgui/interfaces/Boardgame/Patterns/go.tsx
  tgui/packages/tgui/interfaces/Boardgame/Patterns/index.tsx
  tgui/packages/tgui/interfaces/Boardgame/PieceSet.tsx
  tgui/packages/tgui/interfaces/Boardgame/Pieces/go.tsx
  tgui/packages/tgui/interfaces/Boardgame/Pieces/index.tsx
  tgui/packages/tgui/interfaces/Boardgame/Presets/index.tsx
  tgui/packages/tgui/interfaces/Boardgame/helpers.tsx
  tgui/packages/tgui/interfaces/Boardgame/index.tsx
  tgui/packages/tgui/interfaces/Gameclock/index.tsx
  tgui/packages/tgui/styles/interfaces/Boardgame.scss
  tgui/packages/tgui/styles/interfaces/Gameclock.scss
Labels: size/XL

#60 Playtest ready, i sure hope, only tried single player
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/obj/item/boardgame.dm
  tgui/packages/tgui/interfaces/Boardgame/Components/FenCodeSettings.tsx
  tgui/packages/tgui/interfaces/Boardgame/Components/PieceDrawer.tsx
  tgui/packages/tgui/interfaces/Boardgame/Patterns/index.tsx
  tgui/packages/tgui/interfaces/Boardgame/Presets/index.tsx
  tgui/packages/tgui/interfaces/Boardgame/index.tsx
  tgui/packages/tgui/interfaces/Boardgame/types.tsx
  tgui/packages/tgui/styles/interfaces/Boardgame.scss
Labels: size/XL

#61 Moved stuff
  code/obj/item/boardgame/boardgame.dm
  code/obj/item/boardgame/gameclock.dm
  goonstation.dme
Labels: size/L

#62 Mouse tranlsations fixes
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/modules/vending/vending.dm
  code/obj/item/boardgame/boardgame.dm
  tgui/packages/tgui/interfaces/Boardgame/Patterns/index.tsx
  tgui/packages/tgui/interfaces/Boardgame/index.tsx
  tgui/packages/tgui/interfaces/Boardgame/types.tsx
  tgui/packages/tgui/styles/interfaces/Boardgame.scss
Labels: size/L

#63 Chess with less stupid fucking bugs
  browserassets/tgui/tgui.bundle.js
  code/obj/item/boardgame/boardgame.dm
  tgui/packages/tgui/interfaces/Boardgame/Patterns/index.tsx
  tgui/packages/tgui/interfaces/Boardgame/index.tsx
Labels: size/M

#65 Almost there...
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/obj/item/boardgame/boardgame.dm
  tgui/packages/tgui/interfaces/Boardgame/Components/FenCodeSettings.tsx
  tgui/packages/tgui/interfaces/Boardgame/Components/HeldPieceRenderer.tsx
  tgui/packages/tgui/interfaces/Boardgame/Components/Notations.tsx
  tgui/packages/tgui/interfaces/Boardgame/Components/PieceDrawer.tsx
  tgui/packages/tgui/interfaces/Boardgame/Patterns/index.tsx
  tgui/packages/tgui/interfaces/Boardgame/Presets/chess.tsx
  tgui/packages/tgui/interfaces/Boardgame/index.tsx
  tgui/packages/tgui/styles/interfaces/Boardgame.scss
Labels: size/L

#66 Final stuff before event
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/obj/item/boardgame/boardgame.dm
  tgui/packages/tgui/interfaces/Boardgame/index.tsx
  tgui/packages/tgui/styles/interfaces/Boardgame.scss
Labels: size/L

#67 don't mind me
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  browserassets/tgui/tgui.html
  code/modules/sound/soundCache.dm
  code/modules/vending/vending.dm
  code/obj/item/boardgame/boardgame.dm
  code/obj/item/boardgame/gameclock.dm
  goonstation.dme
  icons/obj/items/gameboard.dmi
  sound/effects/bell_high_pitch.ogg
  sound/effects/capture.ogg
  sound/effects/sine_boop.ogg
  sound/impact_sounds/Clock_slap.ogg
  sound/impact_sounds/Wood_Tap.ogg
  tgui/packages/tgui/interfaces/Boardgame/Components/FenCodeSettings.tsx
  tgui/packages/tgui/interfaces/Boardgame/Components/HeldPieceRenderer.tsx
  tgui/packages/tgui/interfaces/Boardgame/Components/Notations.tsx
  tgui/packages/tgui/interfaces/Boardgame/Components/Piece.tsx
  tgui/packages/tgui/interfaces/Boardgame/Components/PieceDrawer.tsx
  tgui/packages/tgui/interfaces/Boardgame/Components/index.tsx
  tgui/packages/tgui/interfaces/Boardgame/Patterns/checkerboard.tsx
  tgui/packages/tgui/interfaces/Boardgame/Patterns/index.tsx
  tgui/packages/tgui/interfaces/Boardgame/Pieces/chess.tsx
  tgui/packages/tgui/interfaces/Boardgame/Pieces/index.tsx
  tgui/packages/tgui/interfaces/Boardgame/Pieces/sets.tsx
  tgui/packages/tgui/interfaces/Boardgame/Presets/chess.tsx
  tgui/packages/tgui/interfaces/Boardgame/Presets/draughts.tsx
  tgui/packages/tgui/interfaces/Boardgame/Presets/index.tsx
  tgui/packages/tgui/interfaces/Boardgame/index.tsx
  tgui/packages/tgui/interfaces/Boardgame/types.tsx
  tgui/packages/tgui/interfaces/Gameclock/index.tsx
  tgui/packages/tgui/interfaces/Gameclock/types.tsx
  tgui/packages/tgui/styles/interfaces/Boardgame.scss
  tgui/packages/tgui/styles/interfaces/Gameclock.scss
  tgui/packages/tgui/styles/main.scss
Labels: size/XXL

#68 what is refactory
  browserassets/tgui/tgui.bundle.js
  code/obj/item/boardgame/boardgame.dm
  code/obj/item/boardgame/boards/testboard.dm
  code/obj/item/boardgame/readme.md
  goonstation.dme
  tgui/packages/tgui/interfaces/Boardgame/Components/FenCodeSettings.tsx
  tgui/packages/tgui/interfaces/Boardgame/Components/Notations.tsx
  tgui/packages/tgui/interfaces/Boardgame/Patterns/checkerboard.tsx
  tgui/packages/tgui/interfaces/Boardgame/Patterns/index.tsx
  tgui/packages/tgui/interfaces/Boardgame/index.tsx
  tgui/packages/tgui/interfaces/Boardgame/types.tsx
Labels: size/XL

#70 I don't know how git works
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/obj/item/boardgame/boardgame.dm
  code/obj/item/boardgame/boards/chessboard.dm
  code/obj/item/boardgame/boards/testboard.dm
  code/obj/item/boardgame/readme.md
  goonstation.dme
  sound/impact_sounds/Wood_paT.ogg
  tgui/packages/tgui/interfaces/Boardgame/Components/BoardgameContents.tsx
  tgui/packages/tgui/interfaces/Boardgame/Components/HeldPieceRenderer.tsx
  tgui/packages/tgui/interfaces/Boardgame/Components/Notations.tsx
  tgui/packages/tgui/interfaces/Boardgame/Components/Palettes.tsx
  tgui/packages/tgui/interfaces/Boardgame/Components/Piece.tsx
  tgui/packages/tgui/interfaces/Boardgame/Components/PieceDrawer.tsx
  tgui/packages/tgui/interfaces/Boardgame/Components/SvgPiece.tsx
  tgui/packages/tgui/interfaces/Boardgame/Components/TitleBar.tsx
  tgui/packages/tgui/interfaces/Boardgame/Components/board/BoardPiece.tsx
  tgui/packages/tgui/interfaces/Boardgame/Components/board/helpers.ts
  tgui/packages/tgui/interfaces/Boardgame/Components/board/index copy.tsx
  tgui/packages/tgui/interfaces/Boardgame/Components/board/index.tsx
  tgui/packages/tgui/interfaces/Boardgame/Components/board/patterns/CheckerBoard copy.tsx
  tgui/packages/tgui/interfaces/Boardgame/Components/board/patterns/CheckerBoard.tsx
  tgui/packages/tgui/interfaces/Boardgame/Components/board/patterns/Pattern.tsx
  tgui/packages/tgui/interfaces/Boardgame/Components/board/renderers/GridPieceRenderer.tsx
  tgui/packages/tgui/interfaces/Boardgame/Components/index.tsx
  tgui/packages/tgui/interfaces/Boardgame/Components/modal/ConfigModal.tsx
  tgui/packages/tgui/interfaces/Boardgame/Components/modal/ConfigTab.tsx
  tgui/packages/tgui/interfaces/Boardgame/Components/modal/ModalTooltip.tsx
  tgui/packages/tgui/interfaces/Boardgame/Pieces/index.tsx
  tgui/packages/tgui/interfaces/Boardgame/Pieces/sets.tsx
  tgui/packages/tgui/interfaces/Boardgame/Presets/index.tsx
  tgui/packages/tgui/interfaces/Boardgame/games/chess/index.tsx
  tgui/packages/tgui/interfaces/Boardgame/games/chess/pieces.tsx
  tgui/packages/tgui/interfaces/Boardgame/games/chess/presets.tsx
  tgui/packages/tgui/interfaces/Boardgame/games/draughts/index.tsx
  tgui/packages/tgui/interfaces/Boardgame/games/draughts/pieces.tsx
  tgui/packages/tgui/interfaces/Boardgame/games/draughts/presets.tsx
  tgui/packages/tgui/interfaces/Boardgame/games/index.ts
  tgui/packages/tgui/interfaces/Boardgame/games/kits.ts
  tgui/packages/tgui/interfaces/Boardgame/index.tsx
  tgui/packages/tgui/interfaces/Boardgame/readme.md
  tgui/packages/tgui/interfaces/Boardgame/types.tsx
  tgui/packages/tgui/interfaces/Boardgame/utils/config.ts
  tgui/packages/tgui/interfaces/Boardgame/utils/notations.ts
  tgui/packages/tgui/interfaces/Boardgame/utils/types.ts
  tgui/packages/tgui/interfaces/Boardgame/utils/window.ts
  tgui/packages/tgui/styles/interfaces/Boardgame.scss
  tgui/packages/tgui/styles/interfaces/Boardgame/base.scss
  tgui/packages/tgui/styles/interfaces/Boardgame/board.scss
  tgui/packages/tgui/styles/interfaces/Boardgame/main.scss
  tgui/packages/tgui/styles/interfaces/Boardgame/modal.scss
  tgui/packages/tgui/styles/interfaces/Boardgame/notations.scss
  tgui/packages/tgui/styles/interfaces/Boardgame/palettes.scss
  tgui/packages/tgui/styles/main.scss
  tgui/tsconfig.json
Labels: size/XXL
