Repository DisturbHerb/goonstation, pull requests merged in 2022-10, with the labels that each got.

#45 did some stuff with the smoke
  code/obj/effects/particles.dm
  code/obj/item/gun/kinetic.dm
Labels: size/M

#47 First draft, so much to do, so much to see
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/obj/item/boardgame.dm
  code/obj/item/chess_board.dm
  icons/obj/items/gameboard.dmi
  tgui/packages/tgui/interfaces/ChessBoard/Pieces/chess.tsx
  tgui/packages/tgui/interfaces/ChessBoard/Pieces/index.tsx
  tgui/packages/tgui/interfaces/ChessBoard/index.tsx
  tgui/packages/tgui/styles/interfaces/ChessBoard.scss
  tgui/packages/tgui/styles/main.scss
Labels: size/L

#49 More stuff, got some board logic done
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/obj/item/boardgame.dm
  tgui/packages/tgui/interfaces/Boardgame/Patterns/checkerboard.tsx
  tgui/packages/tgui/interfaces/Boardgame/Patterns/index.tsx
  tgui/packages/tgui/interfaces/Boardgame/Pieces/chess.tsx
  tgui/packages/tgui/interfaces/Boardgame/Pieces/index.tsx
  tgui/packages/tgui/interfaces/Boardgame/index.tsx
  tgui/packages/tgui/interfaces/Boardgame/types.tsx
  tgui/packages/tgui/interfaces/ChessBoard/Pieces/chess.tsx
  tgui/packages/tgui/interfaces/ChessBoard/Pieces/index.tsx
  tgui/packages/tgui/interfaces/ChessBoard/index.tsx
  tgui/packages/tgui/interfaces/Gameboard/Pieces/chess.tsx
  tgui/packages/tgui/interfaces/Gameboard/Pieces/index.tsx
  tgui/packages/tgui/interfaces/Gameboard/index.tsx
  tgui/packages/tgui/styles/interfaces/Boardgame.scss
Labels: size/XXL

#50 Almost ready
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/obj/item/boardgame.dm
  tgui/packages/tgui/interfaces/Boardgame/Patterns/checkerboard.tsx
  tgui/packages/tgui/interfaces/Boardgame/index.tsx
  tgui/packages/tgui/styles/interfaces/Boardgame.scss
Labels: size/M

#51 More stuff
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/obj/item/boardgame.dm
  icons/obj/items/gameboard.dmi
  tgui/packages/tgui/interfaces/Boardgame/Patterns/checkerboard.tsx
  tgui/packages/tgui/interfaces/Boardgame/Pieces/chess.tsx
  tgui/packages/tgui/interfaces/Boardgame/index.tsx
  tgui/packages/tgui/interfaces/Boardgame/types.tsx
  tgui/packages/tgui/styles/interfaces/Boardgame.scss
Labels: size/L

#52 Changes
  browserassets/tgui/tgui.bundle.css
  browserassets/tgui/tgui.bundle.js
  code/obj/item/boardgame.dm
  tgui/packages/tgui/interfaces/Boardgame/Components/FenCodeSettings.tsx
  tgui/packages/tgui/interfaces/Boardgame/Components/FloatingPiece.tsx
  tgui/packages/tgui/interfaces/Boardgame/Components/FloatingPiecesContainer.tsx
  tgui/packages/tgui/interfaces/Boardgame/Components/Notations.tsx
  tgui/packages/tgui/interfaces/Boardgame/Components/Piece.tsx
  tgui/packages/tgui/interfaces/Boardgame/Components/PieceSet.tsx
  tgui/packages/tgui/interfaces/Boardgame/Components/index.tsx
  tgui/packages/tgui/interfaces/Boardgame/Patterns/checkerboard.tsx
  tgui/packages/tgui/interfaces/Boardgame/Pieces/chess.tsx
  tgui/packages/tgui/interfaces/Boardgame/helpers.tsx
  tgui/packages/tgui/interfaces/Boardgame/index.tsx
  tgui/packages/tgui/styles/interfaces/Boardgame.scss
Labels: size/XXL
